[submodule "src/ext/lodepng"]
	path = src/ext/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "src/ext/variant"]
	path = src/ext/variant
	url = git@github.com:Enigmatisms/variant.git
