[submodule "src/ext/tinyxml2"]
	path = src/ext/tinyxml2
	url = git@github.com:leethomason/tinyxml2.git
[submodule "src/ext/tinyobjloader"]
	path = src/ext/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "src/ext/imgui"]
	path = src/ext/imgui
	url = git@github.com:Enigmatisms/imgui.git
[submodule "src/ext/glfw"]
	path = src/ext/glfw
	url = git@github.com:glfw/glfw.git
[submodule "src/ext/stb"]
	path = src/ext/stb
	url = git@github.com:Enigmatisms/stb.git
[submodule "src/ext/nanobind"]
	path = src/ext/nanobind
	url = git@github.com:wjakob/nanobind.git
[submodule "src/ext/nanovdb"]
	path = src/ext/nanovdb
	url = git@github.com:Enigmatisms/nanovdb.git
[submodule "src/ext/atomic_queue"]
	path = src/ext/atomic_queue
	url = git@github.com:max0x7ba/atomic_queue.git
